<link rel="stylesheet" href="header.css">
<div>
    <nav id="navbar">
        <ul>
            <h1 style="color: aliceblue;">HOTEL CALIFORNIA</h1>
            <li><a href="/">Inicio</a></li>
            <li><a href="reservaciones">Reservaciones</a></li>
            <li><a href="servicios">Servicios</a></li>
            <li><a href="acerca">Acerca de nosotros</a></li>
        </ul>
    </nav>
</div>
<script src="header.js"></script>