<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="icon" href="/icon/Icon.png">
    <link rel="stylesheet" href="acerca.css">
    <!-- Fuentes elegantes -->
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <%- include('layouts/header.ejs') %>

    
    <section class="mision-vision-contenedor">
        <div class="mision-vision">
            <div class="mision-container">
                <h1 class="acerca-titulo-main">MISIÓN</h1>
                <div class="mision-imagen-contenedor">
                    <img src="mision.jpg" alt="Misión">
                </div>
                <p class="acerca-parrafo">
                    Nuestra misión es brindar servicios de alta calidad con el compromiso de satisfacer las necesidades de nuestros clientes, ofreciendo productos innovadores y un servicio excepcional.
                </p>
            </div>

            <div class="vision-container">
                <h1 class="acerca-titulo-main">VISIÓN</h1>
                <div class="vision-imagen-contenedor">
                    <img src="vision.jpg" alt="Visión">
                </div>
                <p class="acerca-parrafo">
                    Nos visualizamos como una empresa líder en el mercado global, reconocida por nuestro enfoque en la innovación y la excelencia, contribuyendo a un futuro más sostenible.
                </p>
            </div>
        </div>
    </section>

    
    <section class="nosotros">
        <h2 class="acerca-titulo-dos">Nosotros</h2>
        <div class="autores-container">
            <div class="autor">
                <img src="Desconocido.jpg" alt="Estefany">
                <p class="acerca-parrafo">Estefany</p>
            </div>
            <div class="autor">
                <img src="Desconocido.jpg" alt="Jose">
                <p class="acerca-parrafo">Jose</p>
            </div>
            <div class="autor">
                <img src="Desconocido.jpg" alt="Aldair">
                <p class="acerca-parrafo">Aldair</p>
            </div>
            <div class="autor">
                <img src="Desconocido.jpg" alt="Hector">
                <p class="acerca-parrafo">Hector</p>
            </div>
        </div>
    </section>

    
    <section class="ubicacion">
        <h2 class="acerca-titulo-dos">Ubícanos</h2>
        <div class="mapa-container">
            <div class="iframe-google">
                <iframe src="https://www.google.com/maps/embed?..." width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="referencia">
                <p class="acerca-parrafo">Av. Pueblo Paleta 369, Kanto</p>
            </div>
        </div>
    </section>

    
    <%- include('layouts/footer.ejs') %>
</body>
</html>
