<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel - California</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="/icon/Icon.png">
    <!-- Fuentes elegantes -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/header.ejs') %>

    <!-- Sección de Bienvenida -->
    <div class="carousel">
        <div class="carousel-wrapper">
            <img class="carousel-image" src="header-0.png" alt="">
            <img class="carousel-image" src="header-1.png" alt="">
            <img class="carousel-image" src="header-2.png" alt="">
        </div>
    </div>

    <div class="fondo">
        <div class="text-overlay">
            <b>
                <h1>Bienvenidos al Hotel California</h1>
            </b>
            <p>
                "Un lugar tan encantador"
            </p>
        </div>
    </div>
    
    <!-- Sección de Testimonios -->
    <section class="review-section">
        <h2>Testimonios</h2>
        <div class="review-wrapper">
            <div class="review-container">
                <div class="review-bubble">
                    <p>"El servicio en el hotel fue impecable desde el momento en que llegamos..."</p>
                    <span class="review-author">⭐⭐⭐⭐ - Andrew92</span>
                </div>
            </div>
            <div class="review-container">
                <div class="review-bubble">
                    <p>"La ubicación del hotel es perfecta, cerca de todas las atracciones principales..."</p>
                    <span class="review-author">⭐⭐⭐⭐⭐ - MigueDz</span>
                </div>
            </div>
            <div class="review-container">
                <div class="review-bubble">
                    <p>"Las instalaciones del hotel son modernas, limpias y bien mantenidas..."</p>
                    <span class="review-author">⭐⭐⭐⭐⭐ - Melisa23</span>
                </div>
            </div>
            <div class="review-container">
                <div class="review-bubble">
                    <p>"Desde que llegamos, nos sentimos como en casa. La recepción fue cálida..."</p>
                    <span class="review-author">⭐⭐⭐⭐ - BryanG52</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Promociones -->
    <section class="promotions">
        <h2>Promociones</h2>
        <div class="promotions-wrapper">
            <div class="promotion-item">
                <img src="pr1.png" alt="Promoción 1">
            </div>
            <div class="promotion-item">
                <img src="pr2.png" alt="Promoción 2">
            </div>
            <div class="promotion-item">
                <img src="pr3.png" alt="Promoción 3">
            </div>
        </div>
    </section>

    <!-- Sección de Información del Hotel -->
    <section class="text-section">
        <div class="rectangle-background"></div>
        <div class="text-container">
            <div class="text-box">
                <p><b>1 Hotel</b></p>
            </div>
            <div class="text-box">
                <p><b>30 Habitaciones</b></p>
            </div>
            <div class="text-box">
                <p><b>2 Piscinas</b></p>
            </div>
        </div>
    </section>

    <!-- Sección de Galería -->
    <section class="gallery-section">
        <div class="padre-gallery">
            <h2>Nuestras habitaciones</h2>
        <div class="gallery-wrapper">
            <div class="gallery-item">
                <img src="galeria1.jpg" alt="Galería 1">
            </div>
            <div class="gallery-item">
                <img src="galeria2.jpg" alt="Galería 2">
            </div>
            <div class="gallery-item">
                <img src="galeria3.jpg" alt="Galería 3">
            </div>
            <div class="gallery-item">
                <img src="galeria4.jpg" alt="Galería 4">
            </div>
        </div>
        </div>
    </section>

    <!-- Pie de página -->
    <%- include('layouts/footer.ejs') %>

    <!-- Scripts JS -->
    <script src="index.js"></script>
</body>

</html>
