@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

:root {
    --color-principal: #E8B34B;
    --color-secundario: #ffffff;
    --color-acento: #2e2e2e;
    --color-texto: #333;
    --color-fondo: #f4f4f4;
    --fuente-titulo: 'Simonetta', serif;
    --fuente-parrafo: 'Antic Didone', serif;
}

nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-scrolled {
    background-color: var(--color-acento);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-parrafo);
}

.acerca-titulo-main, .acerca-titulo-dos {
    font-family: var(--fuente-titulo);
    color: var(--color-acento);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-parrafo{
    font-family: var(--fuente-parrafo);
    line-height: 1.6;
    font-size: 1.2rem;
    color: var(--color-texto);
    margin: 0 0 20px 0;
}

/* Misión y Visión */
.mision-vision-contenedor {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px;
}

.mision-vision {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.mision-container, .vision-container {
    width: 45%;
    background-color: var(--color-secundario);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.mision-imagen-contenedor img, .vision-imagen-contenedor img {
    max-width: 100%;
    width: 400px;
    border-radius: 10px;
}

/* Autores */
.nosotros {
    padding: 50px 100px;
    background-color: var(--color-fondo);
    text-align: center;
}

.autores-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.autor {
    text-align: center;
}

.autor img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.autor p {
    font-size: 1.1rem;
    margin-top: 10px;
}


.ubicacion {
    padding: 50px 100px;
    background-color: var(--color-secundario);
    text-align: center;
}

.mapa-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.iframe-google {
    margin-bottom: 20px;
}

.referencia p {
    font-size: 1.2rem;
    font-family: var(--fuente-parrafo);
}


@media (max-width: 768px) {
    .mision-vision-contenedor {
        flex-direction: column;
        padding: 20px;
    }

    .mision-container, .vision-container {
        width: 100%;
    }

    .autores-container {
        flex-direction: column;
        gap: 20px;
    }

    .iframe-google {
        width: 100%;
    }
}
