:root {
    --color-1: hsl(0, 0%, 100%);

    --color-2: #e8b34b;
    --color-3: red;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    /* Color de fondo */
}

h1 {
    color: var(--color-2);
}

header {
    background-color: var(--color-1);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://media.istockphoto.com/id/1340546254/es/foto/mujer-bastante-positiva-con-el-pelo-largo-bebe-agua-y-sentada-en-la-cama-en-una-ma%C3%B1ana-soleada.jpg?s=612x612&w=0&k=20&c=d6sUzmUsejphUAolNIyMNzDdxzT-GDB_l18uvj0LQv0=");
    background-position: center center;
    background-size: 1400px 1200px;
    background-repeat: no-repeat;
}

.cuadro {
    background-color: rgba(83, 81, 81, 0.59);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuadro {
    transition: all 0.3s;
}

.formulario {
    background-color: #2e2e2e;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#respuesta {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}

.imgA {
    width: 300px;
    height: 200px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--color-1);
}

.pTitulo {
    font-size: 36px;
  font-weight: bold;
  color: #000; /* Color negro */

}

label {
    color: var(--color-2);
}

.h21 {
    color: var(--color-2);
}