
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

:root {
    --Color-texto: #ffffff;
    --Color-texto2: #000000;
    --background-color: #000000;
    --Color-fondo: #000000;
    --Color-fondo-2: #ffffff;

    --Color-fondo-enfasis: #d6d3d3;
    --Color-fondo-enfasis2: #f6f6f6;
    --Color-fondo-enfasis3: #2e2e2e;
    --Color-fondo-enfasis4: #3e474a;
    --Fuente:"Antic Didone", serif;
    --Fuente-2: "Simonetta", serif;
}


.antic-didone-regular {
    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-style: normal;
  }

  .simonetta-regular {
    font-family: "Simonetta", serif;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    padding: 0;
    margin: 0;
   
    font-family: var(--Fuente);
}

body{
    background-color: var(--Color-fondo-2);
}

main{
    margin: 1.25rem 5rem;
}




.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px; 
    overflow: hidden;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}





.experiencias {
    text-align: center;
    margin-top: 1.875rem;
    margin-top: 110px;
}

.experiencias-container{
    display:flexbox;
}

.texto-experiencias{
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    text-align: justify;
    font-size: 1.3rem;
    font-family: var(--Fuente-2);
}

.separador{
    padding-top: 1.5rem;
    border-bottom: 0.20rem solid #E8B34B;
    width: 64px;
    align-self: center;
    display: inline-block;
    box-sizing: inherit;
}

#txt1 {
    font-size: 1.4rem;
}

#txt2 {
    font-size: 1.7rem;
}


.instalaciones {
    text-align: center;
    margin-top: 4rem;
}


.instalaciones-container {
    display:inline-flex;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.instalaciones span {
    text-size-adjust: 1.4rem;
    font-size: 1.4rem;
}

.servicio-card {
    margin-right: 1.563rem;
    margin-left: 1.25rem;
    background-color: var(--Color-fondo-enfasis2);
    border-radius: 3.125rem;
    max-width: 16rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 

}

.servicio-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--Color-fondo-enfasis3);
  }

.servicio-card h3{
    color: #E8B34B;
    margin-bottom: 0.625rem;
}


.servicio-card p {
 color: var(--Color-texto2);
 margin-bottom: 0.625rem;
}

.servicio-img-container{
 margin: 1.9rem;
}

.servicio-texto{
    font-family: var(--Fuente-2);
}

.servicio-img {
 border-radius: 1.9rem;
 max-width: 12.5rem;
 margin-right: 0.625rem;
}

.boton-informacion{
    background: var(--Color-fondo-enfasis3);
    color: var(--Color-texto);
    border-radius: 0.938rem;
    padding: 0.25rem 0.313rem;
    font-size: 0.6rem;
    outline: none;
    box-shadow: none;
    margin-bottom: 1.25rem;
}



.recomendaciones {
    text-align: center;
}

.recomendaciones-container{
    display:flex;
    margin-top: 4rem;
}

.recomendaciones span {
    font-size: 1.5rem;
    font-family: var(--Fuente);
}

.recomendaciones-card {
    margin-right: 1.563rem;
    margin-left: 1.25rem;
    background-color: var(--Color-fondo-enfasis3);
    /*border-radius: 50px;*/
    max-width: 30rem;
    color: var(--Color-texto);
}

.recomendaciones-titulo {
    text-align: left;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: var(--Color-texto);
}

.rating {
    padding: 0rem 1.5rem 0rem 1.5rem;
    text-align: left;
}
.rating .star {
        font-size: 1.4rem;
        color: gold;
        
    }

.recomendaciones-texto{
    padding: 0.8rem 1.5rem 1.5rem 1.5rem;
    text-align: justify;
}

.contenedor-reservar{
    display: flex;
    padding: 5rem 0.625rem;
}

.reservar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-reservar{
    display: inline-flex;          
    align-items: center;           
    justify-content: center;     
    padding: 10px 20px;
    background-color: #E8B34B;     
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    height: 2.5rem; 
    width: 8rem;
}

.btn-reservar:hover{
    
    background-color: #e0a121;
    box-shadow: 0 4px 15px #a87510; 
}

.InfoSpa{
    text-align: center;
    display:block;
}

.InfoSpa h2 {
   font-size: 1.5rem;
   margin-bottom:2rem;
}

#InfoSpa-p {
    font-size: 1rem;
    margin-bottom:2.9rem;
    margin-left: 18rem;
    margin-right: 18rem;
    font-family: var(--Fuente-2);
}

.InfoSpa-container{
    display:block;
}

.InfoSpa-card{
    display:flex;
    margin-bottom:4rem;
}



.servicio-img-1 {
    text-align: left;
    width: 100%;
}

.servicio-img-1 img {
    width: 36.25rem;
    height: 25rem;
    border-radius: 3.125rem;
}

.servicio-contenido1{
    width: 50%;
    text-align: left;
    padding-top: 3.125rem;
    margin-left: 3.125rem;
}

.servicio-titulo-1{
    font-size: 1.125rem;
    margin-top: 3rem;
    margin-bottom:2.9rem;
    margin-left: 3.125rem;
    text-align: left;
}

.servicio-texto-1{
    font-size: 1.125rem;
    margin-top: 3rem;
    margin-bottom:2.9rem;
    margin-left: 3.125rem;
    text-align: justify;

}



.servicio-img-2 {
    text-align: right;
    width: 100%;
}

.servicio-img-2 img {
    width: 36.25rem;
    height: 25rem;
    border-radius: 3.125rem;
}

.servicio-contenido2{
    width: 50%;
    text-align: left;
    padding-top: 3.125rem;
    margin-right: 3.125rem;
}

.servicio-titulo-2{
    font-size: 1.125rem;
    margin-top: 3rem;
    margin-bottom:2.9rem;
    margin-right: 3.125rem;
    text-align: left;
}

.servicio-texto-2{
    font-size: 1.125rem;
    margin-top: 3rem;
    margin-bottom:2.9rem;
    margin-right: 3.125rem;
    text-align: justify;
}




.InfoGimnasio{
    text-align: center;
    display:block;
}

.InfoGimnasio h2 {
    font-size: 1.5rem;
    margin-bottom:2rem;
 }
 
 #InfoGimnasio-p {
     font-size: 1rem;
     margin-bottom:2.9rem;
     margin-left: 18rem;
     margin-right: 18rem;
     font-family: var(--Fuente-2);
 }

 .InfoGimnasio-container{
    display:block;
 }


 .InfoGimnasio-card{
    display:flex;
    margin-bottom:4rem;
 }

 




#seccion-video{
    display: flex;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 0px;
}

#seccion-video h2{
    padding: 1rem;
    align-content: center;
}

.video {
    padding: 1.6rem;  
}


.video video{
    border-radius: 1.5rem;
    
    box-shadow: 0 8px 20px var(--Color-fondo-enfasis4);
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }

    .social-media-icons {
        position: relative; 
        bottom: auto; 
        right: auto;
        margin-top: 10px; 
    }
}